if returnHTML
    div(id="stop-list")  
      h4  Enter one of these stop numbers for details:
      each route, i in routes.data.stops
        div(class="route")
          div(class="bus-number") !{route.stopId}
          div #{route.route} (!{route.distance.toFixed(1)} miles -  
            a(href='https://maps.google.com/?q=' + route.ll) map)
else
    | Enter one of these stop numbers for details:
    | 
    | 
    each route, i in routes.data.stops
        | * Stop: !{route.stopId} - !{route.route} - (!{route.distance.toFixed(1)} miles) *
        | 
      



