if returnHTML
    div(id="stop-list")  
      h4  Enter one of these stop numbers for details:
      ul
        each route, i in routes.data.stops
          li
            div(onclick='makeRequest("#{route.stopId}")') !{route.stopId}
            div !{route.route} (!{route.distance.toFixed(1)} miles -  
              a(href='https://maps.google.com/?q=' + route.ll) map)
else
    | Enter one of these stop numbers for details:
    | 
    each route, i in routes.data.stops
        | 
        | * Stop: !{route.stopId} - !{route.route} - (!{route.distance.toFixed(1)} miles)
        | 
      



