if returnHTML
    b Stop Number: #{route.stopId} - #{route.route}
    each stop in route.stops
        p #{stop.name} - #{stop.times[0]}
else
    |#{route.stopId} - #{route.route}
    | 
    | 
    each stop in route.stops
        |* #{stop.name} - #{stop.times[0]} *
        | 