if returnHTML
    b Stop #{routes.data.stopId} - #{routes.data.stop}
    each stop in routes.data.stops
        p #{stop.name} - #{stop.times[0]}
else
    |Stop #{routes.data.stopId} - #{routes.data.stop}
    | 
    | 
    each stop in routes.data.stops
        |* #{stop.name} - #{stop.times[0]} *
        | 